body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;    
    background-color: #DAD2BC;
}

.formato-form {
    padding: 50px 55px 85px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 340px;
    background-color: #F5F1ED;
}

.contenido-form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.formato-form-registro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1000px;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    background-color: #F5F1ED;
}

.contenido-form-registro {
    flex: 1;
    padding: 0 15px;
    box-sizing: border-box;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.columna-izquierda {
    flex: 1;
    padding: 30px;
}

.columna-derecha {
    flex: 1;
    padding: 30px;
    text-align: center;
    background-color: #F5F1ED;
    border-radius: 0 20px 20px 0; 
}

h2 {
    color: #1b1b1b;
    font-size: 35px;
    margin: 0;
}

p {
    font: size 16px;
    color: #353535;
    margin-bottom: 20px;
}

.line {
    display: inline-block;
    width: 50px;
    height: 7px;
    background: #252323;
}

label {
    color: #1b1b1b;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
}

input {
    padding: 17px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 2px solid #ededed;
    color: #1b1b1b;
    outline: none;
}

select {
    padding: 17px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 2px solid #ededed;
    color: #1b1b1b;
    outline: none;
}

.imageimput {
    padding: 17px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 2px solid #ededed;
    color: #1b1b1b;
    outline: none;
}

select::placeholder {
    color: #c0c0c0;
}

input::placeholder {
    color: #c0c0c0;
}

.btn {
    font-size: 16px;
    color: #ffcfff;
    border: 0;
    border-radius: 25px;
    background: #252323;
    box-shadow: 0 0 10px #A99985;
    cursor: pointer;
}

.btn:hover {
    background: #70798C;
}

.other-register {
    display: flex;
    justify-content: space-around;
}

.button-red {
    padding: 5px 5px;
    font-size: 16px;
    color: #ffcfff;
    border: 0;
    border-radius: 25px;
    background: #252323;
    box-shadow: 0 0 10px #A99985;
    cursor: pointer;
    flex-grow: 1;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.button-red:hover {
    background: #70798C;
}

.registrar-iniciar {
    text-align: center;
    font-size: small;
    color: #353535;
}

span a{
    text-decoration: none;
    font-weight: 700;
    color: #1b1b1b;
    transition: .5s;
}

span a:hover{
    text-decoration: underline;
    color: #70798C;
}

.img-icon{
    display: block;
    margin: 0 auto;
    width: 70%;
    margin-top: 60px;
}

@media(max-width:500px){
    body {
        padding: 30px;
    }
    form {
        padding: 50px 30px;
        width: 100%;
    }
    input {
        padding: 15px 10px;
    }
}