body{
    background-color: #DAD2BC;
}

.navColor{
    background-color: #A99985 !important;
}

.mybtn {
    text-align: end;
}

.static{
    width: 100%;
  position: fixed;
  z-index: 100;
}

.slideBarScroll{
    overflow-y: scroll;
}

.colorIcon{
    font-family: 'Poppins', sans-serif;
    color:#252323 !important;
    text-decoration: none;
}

.allignIcon{
    text-align: center;
}

.fontText{
    font-size: 25px;
}

.navColor{
background-color: #A99985 !important;
}

.colorBody{
    background-color: #DAD2BC;
}

.btn-primary:hover {
    background-color: red;
}

.mybutton{
    background: none;
    border: none;
}

.alingFlex{
    text-align: right;
    margin-right: 30px;
}

.alingImage{
    margin-left: 40px;
}

.colorText{
    font-family: 'Poppins', Verdana;
    color:#252323 !important;
    text-decoration: none;
}

.textoPrincipal{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 100px;
}

.margen {
    margin-left: 0;
    margin-right: 0;
    
}

.row-right-product{
    overflow-x: scroll;
    grid-auto-columns: 16%;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    max-width: max-content;
    grid-auto-columns: auto;
}

.product-name {
    text-decoration: none;
    color: #252323;
    font-family: Arial, Helvetica, sans-serif;
}

.product-name:hover {
    color: #A99985;
}

.estilo-card {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background-color: #F5F1ED;
}

h1 {
    color: #1b1b1b;
    font-size: 35px;
    margin-left: 2rem;
    font-weight: bold;
}

.prod-ventana {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background-color: #F5F1ED;
}

/*Modales*/

.input-modal{
    padding: 17px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 2px solid #ededed;
    color: #1b1b1b;
    outline: none;
}

select {
    padding: 17px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 2px solid #ededed;
    color: #1b1b1b;
    outline: none;
}

h2 {
    color: #1b1b1b;
    font-size: 35px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}

.contenido-form {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-weight: bold;
}

.imageimput {
    padding: 17px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 2px solid #ededed;
    color: #1b1b1b;
    outline: none;
}

.fondo-modal {
    background-color: #F5F1ED;
}

.btn-modal {
    font-size: 16px;
    color: #ffcfff;
    border: 0;
    border-radius: 25px;
    background: #252323;
    box-shadow: 0 0 10px #A99985;
    cursor: pointer;
}

.btn-modal:hover {
    background: #A99985;
}

.modal-content {
    border-radius: 20px;
}

.modal-header {
    border-bottom: solid 1px #A99985;
}

.modal-footer {
    border-top: solid 1px #A99985;
}