body{
    background-color: #DAD2BC;
}

.navColor{
    background-color: #A99985 !important;
}

.mybtn {
    text-align: end;
}

.static{
    width: 100%;
  position: fixed;
  z-index: 100;
}

.slideBarScroll{
    overflow-y: scroll;
}

.colorIcon{
    font-family: 'Poppins', sans-serif;
    color:#252323 !important;
    text-decoration: none;
}

.allignIcon{
    text-align: center;
}

.fontText{
    font-size: 25px;
}

.navColor{
background-color: #A99985 !important;
}

.colorBody{
    background-color: #DAD2BC;
}

.btn-primary:hover {
    background-color: red;
}

.mybutton{
    background: none;
    border: none;
}

.alingFlex{
    text-align: right;
    margin-right: 30px;
}

.alingImage{
    margin-left: 40px;
}

.colorText{
    font-family: 'Poppins', Verdana;
    color:#252323 !important;
    text-decoration: none;
}

.textoPrincipal{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 100px;
}

.margen {
    margin-left: 0;
    margin-right: 0;
    padding-left: 12rem;
}

.row-right-product{
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    max-width: max-content;
}

.product-name {
    text-decoration: none;
    color: #252323;
    font-family: Arial, Helvetica, sans-serif;
}

.product-name:hover {
    color: #A99985;
}

.estilo-card {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background-color: #F5F1ED;
}

h1 {
    color: #1b1b1b;
    font-size: 35px;
    margin-left: 2rem;
    font-weight: bold;
}

footer {
   margin-top: auto;
}


.prod-ventana {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background-color: #F5F1ED;
}

.aling-image-perfil {
    margin-left: 30px;
}

.top-perfil{
    margin-top: 30px;
}

.texto-perfil {
    margin: none !important;
    padding: none;
}

.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.seccion-perfil-usuario .perfil-usuario-header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1.25rem;
}

.seccion-perfil-usuario .perfil-usuario-portada {
    display: block;
    position: relative;
    height: 9rem;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada i {
    margin-right: 1rem;
}

.seccion-perfil-usuario .perfil-usuario-avatar {
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid #F5F1ED;
    background-color: #F5F1ED;
    border-radius: 50%;
    box-shadow: 0 0 12px #A99985;
    position: absolute;
    bottom: -40px;
    left: calc(50% - 90px);
    z-index: 1;
}

.seccion-perfil-usuario .perfil-usuario-avatar img {
    width: 100%;
    position: relative;
    border-radius: 50%;
}

.seccion-perfil-usuario .perfil-usuario-body {
    width: 100%;
    position: relative;
    max-width: 850px;
}

.seccion-perfil-usuario .perfil-usuario-body .titulo {
    width: 100%;
    font-size: 1.75em;
    color:#252323;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.seccion-perfil-usuario .perfil-usuario-bio {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px #A99985;
    background-color: #F5F1ED;
    border-radius: 15px;
    width: 100%;
}

.seccion-perfil-usuario .perfil-usuario-bio {
    margin-bottom: 1.25rem;
    text-align: center;
}
